<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h3>Login Here</h3>
  
  <label for="username">Username</label>
  <input type="text" placeholder="Email" id="username" formControlName="email">
  <div *ngIf="submitted && f['email'].errors" class="error-message">
    <div *ngIf="f['email'].errors['required']">Email is required</div>
    <div *ngIf="f['email'].errors['email']">Enter a valid email address</div>
  </div>
  
  <label for="password">Password</label>
  <div class="password-container">
    <input [type]="hidePassword ? 'password' : 'text'" placeholder="Password" id="password" formControlName="password">
    
  </div>
  <div *ngIf="submitted && f['password'].errors" class="error-message">
    <div *ngIf="f['password'].errors['required']">Password is required</div>
  </div>
  
  <button type="submit" [disabled]="loading">
    <span *ngIf="loading" class="spinner"></span>
    <span *ngIf="!loading">Log In</span>
  </button>
  
  <div class="register-link">
    <a routerLink="/auth/register">Registrarse</a>
  </div>
  
  <div *ngIf="error" class="alert-error">
    {{ error }}
  </div>
</form>