<div *ngFor="let alert of alerts" class="{{cssClass(alert)}}">
    <div class="alert-content">
      <i class="bi" [ngClass]="{
        'bi-check-circle-fill': alert.type === 'success',
        'bi-exclamation-triangle-fill': alert.type === 'warning',
        'bi-info-circle-fill': alert.type === 'info',
        'bi-x-circle-fill': alert.type === 'error'
      }"></i>
      <span [innerHTML]="alert.message"></span>
    </div>
    <button type="button" class="btn-close" (click)="removeAlert(alert)"></button>
  </div>